@import url('variables.css');

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: var(--background-color);
    margin: 5% auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 5px 15px var(--shadow-color);
    animation: animatezoom 0.6s;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    position: relative; /* Ajouté pour positionner la croix */
}

@keyframes animatezoom {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

.modal input[type="text"], .modal input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid var(--input-border-color);
    background: var(--input-background-color);
    border-radius: 8px;
    box-sizing: border-box;
}

.modal input[type="text"]:focus, .modal input[type="password"]:focus {
    background-color: var(--input-focus-background-color);
    outline: none;
}

.modal hr {
    border: 1px solid var(--input-background-color);
    margin-bottom: 25px;
}

.modal button {

    background-color: var(--primary-color);
    color: var(--button-text-color);
    padding: 14px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    opacity: 0.8;
    margin: 8px 0;
    width: 100%;
}

.modal button:hover {
    opacity: 1;
}

.modal .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
    border-radius: 8px;
}

.modal .cancelbtn, .modal .signupbtn {
    float: left;
    width: 48%;
    margin-right: 2%;
}

.modal .container {
    padding: 16px;
}

.modal .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {
    .modal .cancelbtn, .modal .signupbtn {
        width: 100%;
        margin: 0;
    }
}

/* Styles pour la croix de fermeture */
.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.modal .close:hover,
.modal .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
