@import url('variables.css');

/* Styles généraux pour le widget */
.widget-content {
    padding: 20px;
    background-color: var(--input-background-color);
    box-shadow: 0 1px 3px var(--shadow-color);
    border: 1px solid var(--input-border-color);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 80%;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.widget-content:hover {
    box-shadow: 0 4px 8px var(--shadow-color);
    transform: translateY(-2px);
}

.comments-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Augmenté l'espacement entre les commentaires */
    margin-top: 20px;
}

.comments-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.comments-list li {
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 1px 3px var(--shadow-color);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    max-width: 80%; /* Réduit la taille des commentaires */
    margin: 0 auto 20px auto; /* Aligne les commentaires au centre avec espace en bas */
    box-sizing: border-box;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comments-list li:hover {
    box-shadow: 0 4px 8px var(--shadow-color);
    transform: translateY(-2px);
}

.comments-list li p {
    margin: 0;
    color: var(--text-color);
}

.comments-list li p strong.comment-initials {
    color: var(--primary-color);
    font-weight: bold;
}

/* Styles pour les boutons */
.form-button {
    background-color: var(--primary-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    opacity: 0.8;
    margin: 8px 0;
}

.form-button:hover {
    opacity: 1;
}

.cancel-button {
    background-color: red;
    margin-right: auto;
}

.buttons-group {
    display: flex;
    justify-content: flex-start;
}

#add-client-btn{
    margin: 0;
}

/* Display form inline for larger screens */
@media (min-width: 769px) {
    .form-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .form-group {
        flex: 1 1 30%;
        margin-right: 15px;
    }

    .form-group:last-child {
        margin-right: 0;
    }

    .form-button {
        align-self: flex-end;
    }
}

/* Styles pour les détails de la facture */
.facture-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box {
    flex: 1;
    padding: 20px;
}

.gauge-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-box {
    text-align: left;
}

.gauge-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(
        var(--primary-color) calc(var(--percentage) * 1%),
        var(--input-background-color) 0
    );
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--input-border-color);
}

.gauge-text {
    position: absolute;
    text-align: center;
    color: var(--text-color);
}

.gauge-text div {
    font-size: 14px;
    color: var(--text-color-light);
}

.remaining {
    font-size: 12px;
    margin-top: 5px;
    color: var(--text-color-light);
}

.info-box p {
    color: var(--text-color);
}

.info-box p strong {
    color: var(--text-color-dark);
}

/* Styles pour les tables */
.factures-table, .clients-table, .contacts-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px var(--shadow-color);
}

.factures-table th, .clients-table th, .contacts-table th,
.factures-table td, .clients-table td, .contacts-table td {
    padding: 12px 15px;
    border-bottom: 1px solid var(--input-border-color);
}

.factures-table th, .clients-table th, .contacts-table th {
    background-color: var(--input-focus-background-color);
    color: var(--text-color);
    font-weight: normal;
    text-transform: none;
}

.factures-table tr:nth-child(even), .clients-table tr:nth-child(even), .contacts-table tr:nth-child(even) {
    background-color: var(--input-background-color);
}

.factures-table tr:nth-child(odd), .clients-table tr:nth-child(odd), .contacts-table tr:nth-child(odd) {
    background-color: var(--background-color);
}

.factures-table tr:hover, .clients-table tr:hover, .contacts-table tr:hover {
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out;
    background-color: inherit;
}

.factures-table td, .clients-table td, .contacts-table td {
    color: var(--text-color);
    position: relative;
}

/* Media queries pour les petites tailles d'écran */
@media (max-width: 768px) {
    .factures-table thead, .clients-table thead, .contacts-table thead {
        display: none;
    }

    .factures-table tr, .clients-table tr, .contacts-table tr {
        display: block;
        margin-bottom: 10px;
    }

    .factures-table td, .clients-table td, .contacts-table td {
        display: block;
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .factures-table td::before, .clients-table td::before, .contacts-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

.hidden-checkbox {
    display: none;
}

.show-checkbox .hidden-checkbox {
    display: inline-block;
}

.facture-row.disable-link {
    pointer-events: none;
}

.filters label {
    font-weight: bold;
    color: var(--text-color);
    margin-right: 10px;
}

.filters input.form-input,
.filters select.form-input {
    width: auto;
    display: inline-block;
    margin-right: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.page-button {
    background-color: var(--primary-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.page-button:hover {
    background-color: var(--primary-color-dark);
}

.page-button.active {
    background-color: var(--background-color);
}

#pagination-top .page-button,
#pagination-bottom .page-button {
    display: inline-block;
}